<div>
	<div class="post-comment-row">
		<div> </div>
		<div class="post-comment-author">
			<p><%= @post.user.name %></p>
		</div>

		<div class="post-comment-body">
			<h3><%= @post.title %></h3>
			<p><%= @post.body %></p>
		</div>
		<div class="post-comment-infos center">
				<p><%= @post.posted_date_time %></p>
			</div>
		<div> </div>
	</div>

	<% @comments.each do |comment| %>
		<div class="post-comment-row top-bottom-space">
			<div> </div>
			<div class="post-comment-author">
				<p><%= comment.user.name %></p>
			</div>

			<div class="post-comment-body">
				<p><%= comment.body %></p>
			</div>

			<div class="post-comment-infos center">
				<p><%= comment.posted_date_time %><%= button_to "Delete", post_comment_path(@post, comment), data: { confirm: "Are you sure?" }, method: :delete %></p>
			</div>
		</div>
		<div> </div>
	<% end %>

	<div class="comment-block">
		<div> </div>
		<div> 
			<%= form_for @comment, url: post_comments_path, method: :post do |f| %>
				<% if @comment.errors.any? %>
					<h3>Watch out!</h3>
					<ul>
						<% @comment.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				<% end %>
			
				<p>
					<%= f.label "Post your comment" %><br />
					<%= f.text_area :body %>
				</p>
				
				<%= f.submit "save" %>
			<% end %>
		</div>
	</div>
</div>
