<tbody>
	<%if current_user %>
		<button><%= link_to 'New Post', new_post_path %></button>
		<button><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></button>
		<% @posts.each do |post| %>
			<div class="post-block">
				<div class="post-title">
					<h3><%= link_to post.title, post_comments_path(post) %></h3>
					<p><%= post.body %></p>
				</div>

				<div class="post-comments center">
					<p><%= post.comments_number %> comments</p>
				</div>

				<div class="post-infos center">
					<p>Posted by <%= post.post_author %> <br>on <%= post.posted_date_time %></p>
				</div>
			</div>

			<button><%= link_to 'Delete', post_path(post), :confirm => 'Are yousure?', :method => :delete %></button>
		<% end %>

	<%else%>
		<button><%= link_to 'Sign In', new_user_session_path %></button>
		<button><%= link_to 'Sign Up', new_user_registration_path %></button>
	<% end %>
</tbody>